{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "plugin:vue/recommended"
  ],
  "rules": {
    "vue/max-attributes-per-line": "off",
    "vue/mustache-interpolation-spacing": "off",
    "vue/singleline-html-element-content-newline": "off"
  }
}
